.cart_box_txt_empty {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-top: 56px;

  color: #333333;
}

.cart_box_add_itens {
  font-size: 14px;
  color: #828282;
  font-weight: 400;
  margin-left: 42px;
}

.cart_box_components {
  width: 100%;
}
