.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  width: 100%;
}

/*-----------------estilização da header----------------------*/

.body {
  width: 100%;
  background-color: #ffffff;
}

.main {
  width: 100%;
}

/*-----------------estilização da main - card box----------------------*/

.body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards_box {
  width: 94%;
  margin-top: 152px;
  margin-left: 2px;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.cart_box {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 94%;
  margin-top: 20px;
  margin-bottom: 42px;
  border-radius: 5px;
  background-color: #f5f5f5;
  align-items: center;
}

.cart_box_title {
  width: 100%;
  height: 65px;

  margin-top: -16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #27ae60;
}
.cart_box_title_paragraph {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding-left: 21px;
  color: #ffffff;
}

/*-------------------------Estilização modo tablet--------------*/

@media (min-width: 768px) {
  /*-----------------estilização da header----------------------*/

  /*-----------------estilização da main - card box----------------------*/

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .cards_box {
    width: 100%;
    height: 1122px;
    margin-top: 152px;
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .cart_box {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 85%;
    margin-top: 20px;
    margin: auto;
    border-radius: 5px;
    background-color: #f5f5f5;
    align-items: center;
  }
  .cart_box {
    margin-bottom: 42px;
  }
}

/*-------------------------Estilização modo desktop--------------*/

@media (min-width: 1023px) {
  /*-----------------estilização da header----------------------*/

  /*-----------------estilização da main - card box----------------------*/

  .body {
    display: flex;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  .cards_box {
    width: 64%;
    height: 720px;
    margin-top: 111px;
    margin-left: 45px;
    overflow-y: auto;
  }

  .cards_box_components {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .cart_box {
    width: 26%;
  }

  .cart_box_title {
    width: 100%;
    height: 65px;
    margin-top: -16px;
    background-color: #27ae60;
  }
  .cart_box_title_paragraph {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding-top: 6px;
    padding-left: 20px;
    color: #ffffff;
  }

  .cart_box {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 25%;
    margin-left: 1%;
    margin-top: 132px;
    border-radius: 5px;
    background-color: #f5f5f5;
    align-items: center;
  }
}

@media (min-width: 1439px) {
  .cards_box {
    width: 67%;
    height: 720px;
    margin-top: 111px;
    margin-left: 45px;
    overflow-y: auto;
  }

  .cart_box {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 25%;
    margin-left: 1%;
    margin-top: 110px;
    border-radius: 5px;
    background-color: #f5f5f5;
    align-items: center;
  }
}
